<launch>
    <node name="imu_reader" pkg="imu_sensing" type="read_serial_imu.py" />
    <node name="listener" pkg="imu_sensing" type="listener2.py" />
    <node name="forearm" pkg="imu_sensing" type="broadcaster2_forearm.py" />
    <node name="trunk" pkg="imu_sensing" type="broadcaster2_trunk.py" />


</launch>